# Experiment 1 - Data Munging

In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("E:\healthcare_test_data.csv - healthcare_test_data.csv.csv")

In [4]:
df.head()

,case_id,Hospital_code,Hospital_type_code,City_Code_Hospital,Hospital_region_code,Available Extra Rooms in Hospital,Department,Ward_Type,Ward_Facility_Code,Bed Grade,patientid,City_Code_Patient,Type of Admission,Severity of Illness,Visitors with Patient,Age,Admission_Deposit
0,318439,21,c,3,Z,3,gynecology,S,A,2.0,17006,2.0,Emergency,Moderate,2,71-80,3095
1,318440,29,a,4,X,2,gynecology,S,F,2.0,17006,2.0,Trauma,Moderate,4,71-80,4018
2,318441,26,b,2,Y,3,gynecology,Q,D,4.0,17006,2.0,Emergency,Moderate,3,71-80,4492
3,318442,6,a,6,X,3,gynecology,Q,F,2.0,17006,2.0,Trauma,Moderate,3,71-80,4173
4,318443,28,b,11,X,2,gynecology,R,F,2.0,17006,2.0,Trauma,Moderate,4,71-80,4161

In [5]:
df.tail()

,case_id,Hospital_code,Hospital_type_code,City_Code_Hospital,Hospital_region_code,Available Extra Rooms in Hospital,Department,Ward_Type,Ward_Facility_Code,Bed Grade,patientid,City_Code_Patient,Type of Admission,Severity of Illness,Visitors with Patient,Age,Admission_Deposit
137052,455491,11,b,2,Y,4,anesthesia,Q,D,3.0,41160,3.0,Emergency,Minor,4,41-50,6313
137053,455492,25,e,1,X,2,radiotherapy,R,E,4.0,30985,7.0,Emergency,Moderate,2,0-10,3510
137054,455493,30,c,3,Z,2,anesthesia,R,A,4.0,81811,12.0,Urgent,Minor,2,0-10,7190
137055,455494,5,a,1,X,2,anesthesia,R,E,4.0,57021,10.0,Trauma,Minor,2,41-50,5435
137056,455495,6,a,6,X,3,gynecology,Q,F,4.0,126729,3.0,Trauma,Extreme,5,51-60,4702

In [6]:
df.columns

Index(['case_id', 'Hospital_code', 'Hospital_type_code', 'City_Code_Hospital',
       'Hospital_region_code', 'Available Extra Rooms in Hospital',
       'Department', 'Ward_Type', 'Ward_Facility_Code', 'Bed Grade',
       'patientid', 'City_Code_Patient', 'Type of Admission',
       'Severity of Illness', 'Visitors with Patient', 'Age',
       'Admission_Deposit'],
      dtype='object')

# Data Sorting

In [7]:
sorted_values = df.sort_values('Hospital_code' , ascending = False , na_position = 'last')
sorted_values.head(10)

,case_id,Hospital_code,Hospital_type_code,City_Code_Hospital,Hospital_region_code,Available Extra Rooms in Hospital,Department,Ward_Type,Ward_Facility_Code,Bed Grade,patientid,City_Code_Patient,Type of Admission,Severity of Illness,Visitors with Patient,Age,Admission_Deposit
129040,447479,32,f,9,Y,4,gynecology,S,B,2.0,23279,7.0,Trauma,Moderate,2,31-40,4242
120649,439088,32,f,9,Y,4,gynecology,S,B,3.0,54319,7.0,Urgent,Moderate,2,21-30,4581
135702,454141,32,f,9,Y,4,gynecology,S,B,3.0,76405,8.0,Emergency,Moderate,4,71-80,3871
14246,332685,32,f,9,Y,2,radiotherapy,S,B,3.0,29389,8.0,Trauma,Minor,4,41-50,4199
113456,431895,32,f,9,Y,4,gynecology,S,B,2.0,126901,5.0,Emergency,Minor,4,71-80,5782
3318,321757,32,f,9,Y,3,radiotherapy,S,B,3.0,65744,8.0,Trauma,Extreme,2,31-40,5967
82752,401191,32,f,9,Y,2,gynecology,S,B,4.0,9695,5.0,Emergency,Minor,2,71-80,6283
82754,401193,32,f,9,Y,3,gynecology,S,B,1.0,80944,8.0,Emergency,Moderate,4,21-30,3935
55652,374091,32,f,9,Y,2,gynecology,S,B,3.0,109573,7.0,Emergency,Moderate,8,61-70,4240
72136,390575,32,f,9,Y,3,gynecology,S,B,3.0,72116,NaN,Urgent,Minor,2,21-30,4960

In [8]:
df2 = df.head(3)
df3 = df.tail(3)
df4 = pd.concat([df2,df3])
df4

,case_id,Hospital_code,Hospital_type_code,City_Code_Hospital,Hospital_region_code,Available Extra Rooms in Hospital,Department,Ward_Type,Ward_Facility_Code,Bed Grade,patientid,City_Code_Patient,Type of Admission,Severity of Illness,Visitors with Patient,Age,Admission_Deposit
0,318439,21,c,3,Z,3,gynecology,S,A,2.0,17006,2.0,Emergency,Moderate,2,71-80,3095
1,318440,29,a,4,X,2,gynecology,S,F,2.0,17006,2.0,Trauma,Moderate,4,71-80,4018
2,318441,26,b,2,Y,3,gynecology,Q,D,4.0,17006,2.0,Emergency,Moderate,3,71-80,4492
137054,455493,30,c,3,Z,2,anesthesia,R,A,4.0,81811,12.0,Urgent,Minor,2,0-10,7190
137055,455494,5,a,1,X,2,anesthesia,R,E,4.0,57021,10.0,Trauma,Minor,2,41-50,5435
137056,455495,6,a,6,X,3,gynecology,Q,F,4.0,126729,3.0,Trauma,Extreme,5,51-60,4702

# Data Filtering

In [9]:
df5 = df[df['Hospital_code']>25]
df5

,case_id,Hospital_code,Hospital_type_code,City_Code_Hospital,Hospital_region_code,Available Extra Rooms in Hospital,Department,Ward_Type,Ward_Facility_Code,Bed Grade,patientid,City_Code_Patient,Type of Admission,Severity of Illness,Visitors with Patient,Age,Admission_Deposit
1,318440,29,a,4,X,2,gynecology,S,F,2.0,17006,2.0,Trauma,Moderate,4,71-80,4018
2,318441,26,b,2,Y,3,gynecology,Q,D,4.0,17006,2.0,Emergency,Moderate,3,71-80,4492
4,318443,28,b,11,X,2,gynecology,R,F,2.0,17006,2.0,Trauma,Moderate,4,71-80,4161
6,318445,26,b,2,Y,2,gynecology,Q,D,2.0,17006,2.0,Trauma,Moderate,2,71-80,4167
13,318452,28,b,11,X,3,gynecology,R,F,4.0,95946,NaN,Urgent,Moderate,2,31-40,4315
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
137024,455463,32,f,9,Y,3,gynecology,S,B,2.0,2110,9.0,Urgent,Minor,2,0-10,5886
137026,455465,30,c,3,Z,2,anesthesia,Q,A,4.0,46356,8.0,Trauma,Moderate,2,41-50,5242
137027,455466,32,f,9,Y,3,gynecology,S,B,2.0,15179,8.0,Urgent,Moderate,2,41-50,4397
137032,455471,27,a,7,Y,6,gynecology,Q,C,4.0,40918,8.0,Trauma,Minor,3,21-30,3017
137054,455493,30,c,3,Z,2,anesthesia,R,A,4.0,81811,12.0,Urgent,Minor,2,0-10,7190

In [10]:
df6 = df[(df['City_Code_Hospital'] == 4) & (df['Type of Admission'] == 'Trauma')]
df6

,case_id,Hospital_code,Hospital_type_code,City_Code_Hospital,Hospital_region_code,Available Extra Rooms in Hospital,Department,Ward_Type,Ward_Facility_Code,Bed Grade,patientid,City_Code_Patient,Type of Admission,Severity of Illness,Visitors with Patient,Age,Admission_Deposit
1,318440,29,a,4,X,2,gynecology,S,F,2.0,17006,2.0,Trauma,Moderate,4,71-80,4018
76,318515,29,a,4,X,2,gynecology,S,F,3.0,85286,8.0,Trauma,Minor,2,61-70,5633
84,318523,29,a,4,X,2,TB & Chest disease,R,F,2.0,46061,8.0,Trauma,Moderate,2,41-50,4779
132,318571,29,a,4,X,4,gynecology,R,F,4.0,109813,1.0,Trauma,Moderate,2,41-50,8549
133,318572,29,a,4,X,4,gynecology,R,F,3.0,109813,1.0,Trauma,Moderate,2,41-50,6283
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136635,455074,29,a,4,X,2,gynecology,R,F,3.0,92174,8.0,Trauma,Moderate,2,61-70,4789
136711,455150,29,a,4,X,4,TB & Chest disease,S,F,3.0,84683,8.0,Trauma,Minor,2,31-40,4738
136789,455228,29,a,4,X,4,gynecology,R,F,2.0,93838,5.0,Trauma,Moderate,3,31-40,3769
136837,455276,29,a,4,X,1,gynecology,S,F,3.0,122635,1.0,Trauma,Extreme,1,31-40,4673
136908,455347,29,a,4,X,2,gynecology,R,F,3.0,32698,10.0,Trauma,Minor,5,61-70,5213

# Data Reduction

In [11]:
df.drop(['Bed Grade'],axis=1,inplace = True)
df.head()

,case_id,Hospital_code,Hospital_type_code,City_Code_Hospital,Hospital_region_code,Available Extra Rooms in Hospital,Department,Ward_Type,Ward_Facility_Code,patientid,City_Code_Patient,Type of Admission,Severity of Illness,Visitors with Patient,Age,Admission_Deposit
0,318439,21,c,3,Z,3,gynecology,S,A,17006,2.0,Emergency,Moderate,2,71-80,3095
1,318440,29,a,4,X,2,gynecology,S,F,17006,2.0,Trauma,Moderate,4,71-80,4018
2,318441,26,b,2,Y,3,gynecology,Q,D,17006,2.0,Emergency,Moderate,3,71-80,4492
3,318442,6,a,6,X,3,gynecology,Q,F,17006,2.0,Trauma,Moderate,3,71-80,4173
4,318443,28,b,11,X,2,gynecology,R,F,17006,2.0,Trauma,Moderate,4,71-80,4161

In [12]:
df.columns

Index(['case_id', 'Hospital_code', 'Hospital_type_code', 'City_Code_Hospital',
       'Hospital_region_code', 'Available Extra Rooms in Hospital',
       'Department', 'Ward_Type', 'Ward_Facility_Code', 'patientid',
       'City_Code_Patient', 'Type of Admission', 'Severity of Illness',
       'Visitors with Patient', 'Age', 'Admission_Deposit'],
      dtype='object')

In [13]:
grouped = df.groupby(['Hospital_type_code','Type of Admission'])

# Data Access

In [14]:
df.iloc[0:2]

,case_id,Hospital_code,Hospital_type_code,City_Code_Hospital,Hospital_region_code,Available Extra Rooms in Hospital,Department,Ward_Type,Ward_Facility_Code,patientid,City_Code_Patient,Type of Admission,Severity of Illness,Visitors with Patient,Age,Admission_Deposit
0,318439,21,c,3,Z,3,gynecology,S,A,17006,2.0,Emergency,Moderate,2,71-80,3095
1,318440,29,a,4,X,2,gynecology,S,F,17006,2.0,Trauma,Moderate,4,71-80,4018

In [15]:
df.loc[::3,'Hospital_code']

0         21
3          6
6         26
9         23
12        16
          ..
137043    15
137046    14
137049    12
137052    11
137055     5
Name: Hospital_code, Length: 45686, dtype: int64